<% newAllConversations.forEach(function(conversation){ %>
    <% if(conversation.members){ %>
    <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
        <li class="person group-chat" data-chat="<%= conversation._id %>">
            <div class="left-avatar">
                <!-- <div class="dot"></div>  để làm online- offline-->
                <img src="images/users/group-avatar.png" alt="">
            </div>
            <span class="name">
                <span class="group-chat-name">
                    <% if(conversation.name.length >= 15){ %>
                        <%= conversation.name.substr(0,11); %> <span>...</span>
                    <% } else { %>
                        <%= conversation.name %>
                    <% } %>
                </span>
            </span>
            <span class="time">
                <%= convertTimestampToHumanTime(lastItemOfArray(conversation.messages).createdAt) %>
            </span>
            <span class="preview convert-emoji">
                <% if(lastItemOfArray(conversation.messages).messageType === "text"){ %>
                    <%= lastItemOfArray(conversation.messages).text %>
                <% } %>
                <% if(lastItemOfArray(conversation.messages).messageType === "image"){ %>
                    Hình ảnh ...
                <% } %>
                <% if(lastItemOfArray(conversation.messages).messageType === "file"){ %>
                    Tệp đính kèm ...
                <% } %>
            </span>
        </li>
    </a>
    <% }else{ %>
    <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
        <li class="person" data-chat="<%= conversation._id %>">
            <div class="left-avatar">
                <div class="dot"></div>
                <img src="images/users/<%= conversation.avatar %>" alt="">
            </div>
            <span class="name">
                <% if(conversation.username.length >= 15){ %>
                    <%= conversation.username.substr(0,11); %> <span>...</span>
                <% } else { %>
                    <%= conversation.username %>
                <% } %>
            </span>
            <span class="time">
                <%= convertTimestampToHumanTime(lastItemOfArray(conversation.messages).createdAt) %>

            </span>
            <span class="preview convert-emoji">
                <% if(lastItemOfArray(conversation.messages).messageType === "text"){ %>
                    <%= lastItemOfArray(conversation.messages).text %>
                <% } %>
                <% if(lastItemOfArray(conversation.messages).messageType === "image"){ %>
                    Hình ảnh ...
                <% } %>
                <% if(lastItemOfArray(conversation.messages).messageType === "file"){ %>
                    Tệp đính kèm ...
                <% } %>
            </span>
        </li>
    </a>
    <% } %>
    <% }); %>