<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KamiTeam Chat</title>
    <link rel="shortcut icon" href="images/logo_favicon/KamiTeam (1) (1).png" />

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/AlertifyJS/build/css/alertify.css">

    <link href="css/auth.css" rel="stylesheet" />

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/AlertifyJS/build/alertify.js"></script>

    <script src="js/authConfig.js" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 my-content">
            <div class="row">
                <div class="col-sm-12">
                    <p class="login-title text-center" style="font-size: 40px;">Chào Mừng Bạn Đến Với Vương Quốc Chat
                    </p>
                    <h1 class="login-title text-center" style="color: red;">KaChat</h1>
                    <hr>
                    <div class="col-sm-3" style="width: 47%; margin-top: 15px;"><img src="images/icons/btkachat (1).png"
                            style="
                        width: 100px;
                        margin-left: 45px;" />
                        <div style="float: right; margin-top: -15px; ">
                            <h1 style="color: red; font-size: 46px;">KaChat</h1>
                            <p style="font-family: Beautiful Bloom Font; font-size: 20px;" ><i>We talk together</i></p>
                        </div>

                    </div>
                    <div class="col-sm-6 table-responsive">
                        <table class="table my-table">
                            <tbody>
                                <tr>
                                    <td>Author:</td>
                                    <td>KamiTeam - Nguyễn Văn Phong</td>
                                </tr>
                                <tr>
                                    <td>Blog:</td>
                                    <td>
                                        <a href="https://kamiphongdev.com/" target="_blank">
                                            https://kamiphongdev.com
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>CV:</td>
                                    <td>
                                        <a href="https://cv.kamiphongdev.com/" target="_blank">
                                            https://cv.kamiphongdev.com
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-7 text-center" style="width: 135.333333%;">
                    <a class="btn big-login" data-toggle="modal" href="javascript:void(0)"
                        onclick="openLoginModal();">Đăng nhập</a>
                    <a class="btn big-register" data-toggle="modal" href="javascript:void(0)"
                        onclick="openRegisterModal();">Đăng ký</a>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center bottom-description">
                    <span>
                        " Một chút hương thơm sẽ luôn bám vào đôi tay trao hoa hồng ! "
                    </span>
                    <br>
                    <span>
                        " A little bit of fragrance always clings to the hands that gives you roses ! "
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="modal fade login" id="loginModal">
            <div class="modal-dialog login animated">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Đăng nhập</h4>
                    </div>
                    <div class="modal-body">
                        <%- include("alert/alert");%>

                        <%- include("login/login");%>
                        
                        <%- include("register/register");%>
                        
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Bạn chưa có tài khoản?
                                <a href="javascript: showRegisterForm();">Tạo một tài khoản mới</a>
                            </span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                            <span>Bạn đã có tài khoản?</span>
                            <a href="javascript: showLoginForm();">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
